Telemetry/Dashboard/Flags/SilentRunning 1 "./base/x52-minimal.sh"
Telemetry/Dashboard/Flags/LandingGearDown 1 "./enabling/landing.sh"
Telemetry/Dashboard/Flags/LandingGearDown 0 "./disabling/landing-off.sh"
Telemetry/Dashboard/Flags/CargoScoopDeployed 1 "./enabling/cargo.sh"
Telemetry/Dashboard/Flags/CargoScoopDeployed 0 "./disabling/cargo-off.sh"
Telemetry/Dashboard/Flags/LightsOn 1 "./enabling/lights.sh"
Telemetry/Dashboard/Flags/LightsOn 0 "./disabling/lights-off.sh"
Telemetry/Dashboard/Flags2/FsdHyperdriveCharging 1 "./enabling/fsd-charging.sh"
Telemetry/Dashboard/Flags2/FsdHyperdriveCharging 0 "./disabling/fsd-charging-off.sh"
Telemetry/Dashboard/Flags/FsdCooldown 1 "./enabling/cooldown.sh"
Telemetry/Dashboard/Flags/FsdCooldown 0 "./disabling/cooldown-off.sh"
Telemetry/Dashboard/Flags/FsdJump 1 "./enabling/witchspace.sh"
Telemetry/Dashboard/Flags/FsdJump 0 "./disabling/witchspace-off.sh"
Telemetry/Dashboard/Flags/BeingInterdicted 1 "./enabling/interdicted.sh"
Telemetry/Dashboard/Flags/BeingInterdicted 0 "./disabling/interdicted-off.sh"
Telemetry/Dashboard/Flags/Supercruise 1 "./enabling/shift.sh"
Telemetry/Dashboard/Flags/Supercruise 0 "./disabling/shift-off.sh"
Telemetry/Dashboard/Flags2/OnFoot 1 "./disabling/on-foot.sh"
Telemetry/Dashboard/Flags/InSRV 1 "./disabling/srv.sh"